<div class="container" *ngFor="let dataPersons of dataPerson">
    <div class="row">
        <div class="col-sm-2">
          <img src="{{dataPersons.image}}" class="img-responsive"/>
        </div>
        <div class="col-sm-5">
          <h3>{{dataPersons.displayname}}</h3>
      Convered in {{dataPersons.counter_news}} has {{dataPersons.counter_statement}}<br>
      Statements.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
           <h5><b>Appears in</b> : {{dataPersons.related_media}}</h5>
        </div>
    </div>
</div>